body {
    background-color: #111;
    font-family: Arial;
    margin: 20px;
    color: white;
}

h1 {
    color: #4da6ff;
    margin-top: 40px;
}

h2 {
    color: #4da6ff;
    margin-top: 30px;
}

p {
    text-align: justify;
    line-height: 24px;
}

ol {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

li {
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #1c1c1c;
}

th {
    background-color: #004080;
    color: white;
    padding: 10px;
    border: 1px solid #555;
}

td {
    border: 1px solid #555;
    padding: 10px;
    color: #ddd;
}
